

html{
	height:100%;
}
body{
	margin: 0;
	height:100%;
	font-family: 'Roboto', sans-serif;
		margin:0px;
	background-color:gray;
	
}

#first_block{
background-image: url(images/Untitled-2.jpg);
background-color:gray;
}
#log{
	weight:100%;
	color:white;
	text-align:right;
	
}
span{
	font-size: 0.4em;
	
}
#opapa{
	
	margin-right:0px;
}
.main-menu{

	 width:70%;
	font-size:1vw;
	text-align:right;
	margin: 0 px;
	margin-top:0px;
	padding-left:50%;
	 width:50%;
	list-style-type:none;
	display: flex;
	/* justify-content:space-around; */

}
.main-menu1{
	
	margin-bottom:0px;
	 width:65%;
	font-size:1vw;
	text-align:right;
	margin: 0 px;
	margin-top:0px;
	padding-left:30%;
	/* width:50%; */
	list-style-type:none;
	display: flex;
	/* justify-content:space-around; */

}
li{
	margin-left:2vw;
	color: white;
	
}
a{
	
	color: white;
	 text-decoration:none;
}
#second-block{
	margin:0px 0px 179px;
	width:30%;
}
#biti{
	clear:both;
}
#koko{
	font-size:1.7vw;
	font-weight:900;
}
h4{
	margin-top:0px;
}
#asc{
	margin-top:0px;
	width:100%;
	font-size:1.6vw;
	line-height:3vw;
	clear:both;
}
h2{
	margin: 0px;
}
#logo{

	font-size:3vw;
	  padding:0 ;
    margin: 0;
	margin-top:0px;
	padding-top:2vw;
   height: 0px;
    width:20%;
	line-height:1.4vw;
}
#ii{
	text-align:right;
	font-size:2em;
	color:white;
	margin-right:20px;
	line-height:0px;
}
#but{
	margin-right:20px;
	opacity:1;
	height:20px;
	width:150px;
	 font-weight:600;
	 padding:1px 3px;
	 border:none;
	  border-radius: 6px;
	 background-color:yellow;
}

#lol{
	clear:both;
	width:46%;
	font-size:4.7vw;
	line-height:4.5vw;
	text-align:right;
	font-weight:500;
	  float:left;  
}
#ipp{
	padding-left:0px;
	padding-top:20px;
	 width:40%;
	font-size:2vw;
	text-align:center;
	margin: 0 px;
	margin-top:0px;
	margin-left:0px;
	/* width:50%; */
	list-style-type:none;
	display: block;
	float:right;
	/* justify-content:space-around; */
	list-style-type:none;
		line-height:4vw;
}
li{
		
	text-align:left;
}
#assa{
	clear:both;
	padding-top:0px;
	text-align:center;
	float:none;
	width:22%;
	line-height:0px;
	
	vertical-align:bottom;
	margin:0 auto;
	
}
#sasa{
	width:7%;
}
#a2{
	font-size:0.6vw;
}
#b11{
	font-size:1vw;
}
#po{
	font-size:1vw;
}
#tel{
	font-size:1vw;
	opacity:0.6;
	width:100%;
	height:3vw;
	text-align:center;
}
#tel1{
	font-size:1vw;
	background-color:yellow;
		opacity:1;
	width:102%;
	height:3vw;
	 border:none;
	 border-radius: 4px;
}
#block2{
	background-color:gray;
}
#nash{
	padding-top:0px;
	text-align:center;
	float:none;
	width:100%;
	line-height:0px;
	
	
}
#block2{
	width:100%;
}
#buka1{
	background: url(images/косметический.jpg) no-repeat ;
	background-size: 100%;
	width:40%;
	float:left;
	margin-left:5%;
	margin-top:5%;
	
	 font-size: 1vw;
}
#buka2{
	background: url(images/капитальный.jpg) no-repeat;
	background-size: 100%;
	width:40%;
	float:right;
	margin-right:5%;
	margin-top:5%;
	font-size: 1vw;
}

#buka3{
	clear:both;

	background: url(images/перепланировка.jpg) no-repeat;
		background-size: 100%;
	float:left;
	width:40%;
		 margin-left:5%; 
	 margin-top:5%; 
	font-size: 1vw;
	
}
#buka4{
	
	
	background: url(images/премиальный.jpg) no-repeat;
	background-size: 100%;
	float:right;
	width:40%;
	margin-right:5%; 
	 margin-top:5%; 
	font-size: 1vw;
}
.k2{
		list-style-type:none;
	padding-left:0px;
}
.k2 li{
		margin-left:0px;
}
#as12{
	padding: 1vw 0vw 0vw 1vw;
	margin-top:0px;
clear: left;
	text-align:left;
	color: white;
}
#nash{
	
}
.b11{
	background-color:white;
	height:3vw;
	font-size:2vw;
	justify-content: center
}
#po{
	background-color:yellow;
		opacity:1;
		
	height:2vw;
	 border:none;
	 border-radius: 4px;
}
#bbb{
	margin-top:55vw;
	height:1vw;
	width:100%;
	background-color:yellow;
}

#c1{
	clear:left;
	color:white;
	width:100%;
	
}

#cor{
	clear:left;
	float:left;
	background-color: #503d33;
	width:60%;
	background-size: 100%;
	font-size:1.5477vw;
	
}

#imgg{
	float:left;
	height:26.5vw;
	background-color:black;
	width:40%;
	background: url(images/1.jpg) no-repeat;
	float:left;
	background-size: 100%;
}
#lopi{
	margin-top:0px;
	Clear:left;
}
#lopi1{
	text-align:center;
	margin-top:0px;
	Clear:left;
	background-color:white;
	margin-bottom:0px;
}
#img1{
	height:70vw;
	background: url(images/why.png) no-repeat ;
	background-size:cover;
    width:100%;
}

#img2{
height:40vw;
	background: url(images/2.jpg) no-repeat ;
	background-size:cover;
    width:100%;
}
#asas{
	Clear:both;
	background-color:white;
	
}
#ulogo{
	color:black;
	display:flex;
	font-size:4vw;
	padding-left:0px;
	text-align:center;
	width:100%;
	list-style-type:none;
	text-align: center;
	vertical-align:center;
	margin-bottom:0px;
	padding-bottom:6vw;
}
#ko {
	margin-top:0px;
	text-align:center;
	color: black;
	font-size:3vw;
	
}
#ololos{
	font-size:4vw;
	color: gray;
}
#ko2{
	text-align:center;
	margin-top:0px;
	font-size:3vw;
}
#ko3{
	text-align:center;
	font-size:3vw;
}
#ko4{
	margin-bottom:0px;
	padding-bottom:5px;
}
#bloc{
	background-color:yellow;
	margin-top:0px;
}
#number{
	padding-bottom:3px;
	opacity:0.6;
	height:3vw;
	text-align:center;
	 width:50%;
  top: 0; left: 0; bottom: 0; right: 0;
}
#butt{
	padding-bottom:3px;
	background-color:#FF8C00;
		opacity:1;
	width:40%;
	height:3vw;
	 border:none;
	 border-radius: 4px;
}
#pups{
	clear:both;
	padding-top:0px;
	text-align:center;
	float:none;
	width:100%;
	line-height:0px;
	
	vertical-align:bottom;
	margin:0 auto;
	
}

#pis{
	background-color: rgba(255,255,255,.0);
	border:none;
	padding-left:0;
	float:left;
	width:10%;
	height:15vw;
	font-size:10vw;
	
}
#pis2{
	font-size:1.5vw;
	float:left;
	width:40%;
}
#pis4{
	background-color: rgba(255,255,255,.0);
	border:none;
float:left;
	width:10%;
	height:15vw;
	font-size:10vw;
	
}
#as12{
	color:black;
	font-size:2vw;
}

#otz{
	text-align:right;
	margin-top:0px;
	font-size:3vw;
}
#bulka{
	overflow: hidden;
	clear:both;
	background:url(images/compbody.jpg) no-repeat;
	width:100%;
}
.kos{
	
}
#ploho{
	 background-size: auto 100%;
	float:right;
	width:40%;
	height:12vw;
	background-color:white;
}
#loi{
	clear:both;
	
	background: url(images/bottom-bg.jpg) no-repeat ;
	background-size:cover;
    width:100%;
}
#lipa{
	float:left;
	color:white;
		font-size:2vw;
	  padding:0 ;
    margin: 0px 800px 0px 40px;
   height: 13vw;
    width:18%;
	line-height:3vw;
}
#pikapika{
	font-weight:900;
}
@media all and ( max-width:500px)  {
    body {
       
		
	}
}
